
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Lora:ital,wght@1,700&family=MonteCarlo&family=Roboto:ital,wght@1,900&family=Smokum&family=Tilt+Prism&display=swap');

*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-size: 1.6rem;
    font-family: 'Abril Fatface', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lora', serif;
font-family: 'MonteCarlo', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Smokum', cursive;
font-family: 'Tilt Prism', cursive;
font-weight: bolder;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: darkgrey;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(0,28,73);
   
}
.nav-brand{
    text-transform: uppercase;
    font-weight: bold;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
